
/* Navbar Starts */


*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

img{
    max-width: 100%;
    max-height: 600px;
}

/* common-button */
.common-btn{
background-color: #FD6E0A;
padding: 10px 20px;
border-radius: 10px;
border:none;
font-weight: bold;
font-size: 32px;
color:white;
cursor: pointer;

}

.container{
    max-width: 1200px;
    margin: auto;
}

header{
background-color: white;
}

nav{
    
    display:flex;
    justify-content: space-between;
    padding: 12px 0px;

}

.logo{
    font-weight: bold;
    font-size: 32px;
}

.logo-mi{
    color:#FD6E0A;
}

ul{
    
    display:flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}

ul li a{
    text-decoration: none;
}

/* Navbar Ends */


/* samiul-parent section */

.hero-parent-root{
background-color: #ede7e3;
}

.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.hero-left h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 12px;
}

.hero-left-p1{
    font-weight: 600;
    font-size: 20px;
}

.outline-btn{
background-color: white;
padding: 10px 20px;
border-radius: 10px;
border: 2px solid #FD6E0A;
font-weight: bold;
font-size: 32px;
color:white;
color: #FD6E0A;
cursor: pointer;
}


.hero-left-button-parent{
margin-top: 12px;
}